# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.env
*.env.local
.env.local
frontend/src/scripts/config/supabase.js
frontend/.package-lock.json
# Databases
*.sqlite3
*.db

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
dist/
build/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log